%h1= @gallery.name
.row
  - @images.each do |image|
    .col-md-3
      .thumbnail
        = link_to image_tag(image.image_url(:medium), alt: image.alt), image.image_url
        .caption
          %h2= image.name
          .image-desc
            = image.description
= link_to "<- Back to gallery list", galleries_path, class: 'btn btn-default'
